link(rel='stylesheet', href='/javascripts/lib/bootstrap/css/bootstrap.css')
link(rel='stylesheet', href='/javascripts/lib/bootstrap/css/bootstrap-responsive.css')
link(rel='stylesheet', href='/javascripts/lib/google-code-prettify/prettify.css')
link(rel='stylesheet', href='/stylesheets/main.css')
script(type='text/javascript', src='/javascripts/lib/requirejs/require-jquery.js', data-main='/javascripts/main')
<!--[if lt IE 9]>
script(type='text/javascript', src='/javascripts/lib/html5shiv.js')
<![endif]-->