.comments.clearfix
  ol#comment_list.comment-list.unstyled
    li.well
      img(src='/images/icon_avatar.png', alt='', width='32', height='32').avatar
      span katz
      |  |
      small.meta-date 5 apr 2012 12:17
      p 谢谢，不错，我也遇到这个问题，看了你这篇文章后解决了
    li.well
      img(src='/images/icon_avatar.png', alt='', width='32', height='32').avatar
      span katz
      |  |
      small.meta-date 5 apr 2012 12:17
      p 谢谢，不错，我也遇到这个问题，看了你这篇文章后解决了
    li.well
      img(src='/images/icon_avatar.png', alt='', width='32', height='32').avatar
      span katz
      |  |
      small.meta-date 5 apr 2012 12:17
      p 谢谢，不错，我也遇到这个问题，看了你这篇文章后解决了

  form(action='', method='post').form-horizontal.comment-post.well
    .control-group
      .control-label
        img(src='/images/icon_avatar.png', alt='', width='32', height='32').avatar
      .controls
        textarea(rows='3', placeholder='发布评论').span7
    .form-actions
      input(type='submit', value='评论').btn.btn-primary
