footer.footer
  .container
    p.pull-right
      a(href='#') 返回顶部
    p
      small= locals.version
      |  - 基于
      a(href='//nodejs.org/', target='_blank') NodeJS
      | 、
      a(href='//expressjs.com/', target='_blank') Express
      |  和
      a(href='//mongoosejs.com/', target='_blank') MongoDB
      |  构建
    p 
      | &copy;2012
      a(href='#', target='_blank') Acorn
      |  of NutUX Team. All Rights Reserved.
      span(style='width:1px;height:1px;overflow:hidden;visibility:hidden;')
