- while(Array.isArray(messages) && messages.length)
  - var message = messages.pop();
  - if(message.type == 'alert')
    .alert
      a(data-dismiss='alert').close x
      = message.content
  - if(message.type == 'info')
    .alert.alert-info
      a(data-dismiss='alert').close x
      = message.content
  - if(message.type == 'error')
    .alert.alert-error
      a(data-dismiss='alert').close x
      = message.content
  - if(message.type == 'success')
    .alert.alert-success
      a(data-dismiss='alert').close x
      = message.content
