!!!5
html
  head
    meta(charset='utf-8')
    title= title
    include ../includes/assets
    link(rel='shortcut icon', href='favicon.ico')
  body
    include ../includes/topbar
    header.header
      include ../includes/header_topimg
      include ../includes/header_topnav
    .container!= body
    include ../includes/footer