include ../includes/messages

.row
  .span2.sidebar
    include ../includes/sidebar_person
  .span10
    .page-header
      .pull-right
      h1 设置
        | 
        small 修改密码

    form(action='/set_password', method='post').form-horizontal
      .control-group
        label.control-label
          strong 旧密码
        .controls
          .input-prepend
            span.add-on
              i.icon-lock
            input(type='password', name='passwd', value=locals.passwd).span3
          p.help-block 长度控制在6~20个字符
      .control-group
        label.control-label
          strong 新密码
        .controls
          .input-prepend
            span.add-on
              i.icon-lock
            input(type='password', name='new_passwd', value=locals.new_passwd).span3
          p.help-block 长度控制在6~20个字符
      .control-group
        label.control-label
          strong 确认密码
        .controls
          .input-prepend
            span.add-on
              i.icon-lock
            input(type='password', name='new_passwd2', value=locals.new_passwd2).span3
          p.help-block 长度控制在6~20个字符

      .form-actions
        button(type='submit').btn.btn-primary
          | 确认修改

script
  require(['/javascripts/page/person.set_password.js']);